.employee-form {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 10px;
    /* width: 50%; */
    margin: auto;
    width: 50%;
    background-color: bisque;
    /* border: 3px solid green; */
    /* padding: 10px; */
}
body{
    /*font-family: 'Poppins', sans-serif;*/
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;

}
h1{
    border:2px solid white;
    border-radius: 25px;
    background-color: aliceblue ;
    padding: 5px;
    
}
.employees-table {
    border-style: solid;
    /* margin-bottom: 10px; */
    /* margin-left: 10px; */
    padding: 20px;
    /* width: 50%; */
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    /* padding: 10px; */
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: black;
    color: white;
    padding: 10px 18px;
    /* margin: 0px 0; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Abyssinica SIL', serif;
    /*font-family: 'Poppins', sans-serif);*/
}
input[type=submit]:hover{
    background-color: #414a4c;
}
form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #333;
    
  }
  li.ust{
    float:left;
    font-size: 25px;
  }
  li {
    float:right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }